:root {
    --gray: rgb(42,42,42);
}

body {
    margin: 0;
}

header {
    background-color: rgb(174, 195, 174);
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header svg {
    margin-left: 5%;
}

header h1 {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 15%;
}

header nav {
    margin-right: 5%;
    display: inline-flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

header nav button {
    background-color: rgb(129, 144, 115);
    color: white;
    padding: 10px;
}




.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem;
    height: 90vh;
}
.card{
    display: flex;
    flex-direction: column;
    height: auto;
    width: fit-content;
    padding: 0.2rem 1rem;
    margin: 0.5rem;
    background: #2D0A77;
    box-shadow: 4px 4px 8px 1px #00000075;
    border-radius: 2px;
    gap: 1rem;
}
.input{
    padding: 0.1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.homePostBox {
    width: 100vw;
}

.homePost {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 50%;
   border: 5px solid rgb(129, 144, 115);
   background: rgb(203, 187, 167);
}

.tag {
    display: inline-flex;
    align-items: center;
    width: min-content;
    height: min-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

.tag svg {
    margin-right: 10px;
}
